@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

$slider-length: 4;
$radioBtn-size: 16px;
$btn-color: #ccc;
$active-color: #333;
//---------------------------------------------------

*, *:before, *:after {
    box-sizing: border-box;
}

.slider {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    height: 38vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;

  &__dot {
    width: $radioBtn-size;
    height: $radioBtn-size;
    margin: 2rem $radioBtn-size;
    border-radius: 50%;
    z-index: 10;
    background-color: $btn-color;
    outline: $radioBtn-size / 2 solid $btn-color;
    outline-offset: $radioBtn-size / -2;
    box-shadow: 0 0 0 0 $active-color, 0 0 0 0 rgba($active-color,0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;

  &:checked
{
    background-color: $active-color;
    animation: check 0.5s linear forwards;

    @for $i from 0 to $slider-length {
        &:nth-of-type(#{$i+1}) {
            ~ .slider__inner

{
    transform: translateX((-100% * $i) / $slider-length);
}

}
}
}
}

&__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-length;
    height: 100%;
    transition: all 1s ease-out;
    display: flex;
    flex-flow: row nowrap;
}

&__body {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

&__image {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

&__caption {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

&__text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

}



