.btn-lg {
    width: 18rem;
}
.display-trainee-ticket {
    width: 18rem;
}
.training-card {
    width: 13rem;
    height:17rem;
    margin-top:2rem;
    margin-right:2rem;
    

}
.unregister {
    margin-left: 5rem;
}