.btn-lg {
    width: 18rem;
}
.display-trainee-ticket {
    width: 18rem;
}
.training-card {
    width: 15rem;
    height: 19rem;
    margin-top: 2rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.unregister {
    margin-left: 5rem;
}