@model IEnumerable<WebApplication1.Models.Place>
@{
    ViewData["Title"] = "Index";
    Layout = "_LandingPageLayout";
}
@using Microsoft.AspNetCore.Http;

<div class="container">
    <div class="row">
        <div class="welcome-section row-sm">
            <h1 id="wel">
                WEL
            </h1>
            <h1 id="come">
                <br />COME
            </h1>
            @*<h1 id="welcome-amdm">
                    AMDM
                </h1>*@
        </div>
        <img src="..\css\img4.jpg" class="img-fluid landing-page-img-0" alt="...">

    </div>

    <div class="row text-center">
        <h2 class="amdm-studio-title text-center">AMDM STUDIO:</h2>
        <p class="amdm-studio-body">
            If you were thinking about where the motivation would come from, you get to the right place!
            Where do I get the motivation? What about the diet? How to eat right? How to persevere despite the difficulty?
            Just show up! When you get here, you'll figure it out!
            AMDM's studios are designed and equipped with the best facilities and equipment in the world.
            At AMDM the trainers have certificates! They get professional training monthly! Our trainers attend world conferences with the movers in the field, and with professors who specialize in nutrition and movement. They are always up to date and bring the latest training from all over the world to our studio.
            Our trainers will accompany your movements and explain to you about them. The attitude will be personal even when you choose to train in a group. They will make sure the movements are right for you, They guide you to alternate movements if you have medicals issues. They were with you not only while training but also beyond the day when you want to get informed with them on nutrition.
            <br /><strong>Long story short, We are waiting for you!</strong>
        </p>
    </div>

    <hr>
    <h1 class="vertical col-1">AMDM</h1>

    <div class="row">
        <img src="..\css\people.jpg" class="img-fluid landing-page-img-1 col-sm-6" alt="...">

        <div class="col-sm-6">
            <div class="about-us-section row-sm-4">


                <h2 class="about-us-title">
                    <br />
                    About Us:
                </h2>
                <p class="about-us-body">
                    Nice to meet you, we're the entrepreneurs of AMDM.
                    We're here to keep you calm. Here you can manage your training, acquire tickets,
                    track past and future training, and learn about your better work!
                </p>
            </div>

            <div class="row-sm-4">
                <div class="double-arrow-button-section col-4 col-sm-1">
                    <div class="center-con">
                        <div class="round">
                            <div id="cta">
                                <span class="arrow primera next "></span>
                                <span class="arrow segunda next "></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-section col-6 col-sm-8">


                    <style>
                        #map {
                            height: 400px;
                            width: 600px;
                        }
                    </style>
                    <br />
                    <br />
                    <h3> Our branches:</h3>


                    @foreach (var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.Address)
                        <br />
                    }
                    <div id="map"></div>

                </div>
            </div>
        </div>
    </div>






    @*<video autoplay muted loop id="myVideo">

            <source src="..\css\fitness.mp4" type="video/mp4">
        </video>*@
</div>



<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 32.027530, lng:  34.860470 },
            zoom: 11
        });

        @foreach(var item in Model){
            <text>
                new google.maps.Marker({
                    map: map,
                    position: { lat: @item.Lat, lng: @item.Lng },
                    title:"@item.Address"
                    });
            </text>
         }
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9UtESz_iXjjwcMQUgAtM6mC9ZS88bvRI&callback=initMap" async defer></script>

@section Styles {
    <link rel="stylesheet" href="~/css/landing-page.css" />
    <link rel="stylesheet" href="~/css/double-arrow-button.css" />

}
@section Scripts {
    <script src="~/js/double-arrow-button.js"></script>

}



