@model AdminViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

<div class="text-center">


    <h1 class="display-4">
        Welcome
    </h1>
    <img src="..\css\woman.jpg" class="img-fluid" alt="...">

    @*<video autoplay muted loop id="myVideo">

        <source src="..\css\fitness.mp4" type="video/mp4">
    </video>*@
</div>
