@model IEnumerable<WebApplication1.Models.Place>
@{
    ViewData["Title"] = "Index";
    Layout = "_LandingPageLayout";
}
@using Microsoft.AspNetCore.Http;

<div class="text-center">


    <h1 class="display-4">
        Welcome
    </h1>
    <img src="..\css\yoga.jpg" class="img-fluid" alt="...">
    <div>
        <h2> AMDM STUDIO:</h2>
        <p>
            If you were thinking about where the motivation would come from, you get to the right place!
            Where do I get the motivation? What about the diet? How to eat right? How to persevere despite the difficulty?
            Just show up! When you get here, you'll figure it out!
            AMDM's studios are designed and equipped with the best facilities and equipment in the world.
            At AMDM the trainers have certificates! They get professional training monthly! Our trainers attend world conferences with the movers in the field, and with professors who specialize in nutrition and movement. They are always up to date and bring the latest training from all over the world to our studio.
            Our trainers will accompany your movements and explain to you about them. The attitude will be personal even when you choose to train in a group. They will make sure the movements are right for you, They guide you to alternate movements if you have medicals issues. They were with you not only while training but also beyond the day when you want to get informed with them on nutrition.
            Long story short, We are waiting for you!
        </p>
    </div>
    <div>
        <h2>About Us:</h2>
        <p>....</p>
    </div>


    @*<video autoplay muted loop id="myVideo">

            <source src="..\css\fitness.mp4" type="video/mp4">
        </video>*@
</div>

<style>
    #map {
        height: 400px;
        width: 600px;
    }
</style>
<br />
<br />
<h2> Our branches:</h2>


@foreach (var item in Model)
{
            @Html.DisplayFor(modelItem => item.Address)<br/>
}
<div id="map"></div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 32.027530, lng:  34.860470 },
            zoom: 11
        });

        @foreach(var item in Model){
            <text>
                new google.maps.Marker({
                    map: map,
                    position: { lat: @item.Lat, lng: @item.Lng },
                    title:"@item.Address"
                    });
            </text>
         }
    }

 </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9UtESz_iXjjwcMQUgAtM6mC9ZS88bvRI&callback=initMap" async defer></script>

@section Styles { 

@*load css files*@

}

