@model AppTwitter.Models.Tweets
@*@{
        Layout = '_Layout';
    }*@
<!DOCTYPE html>

<body>
    <meta name="viewport" content="width=device-width" />
    <h1>AMDM Tweets:</h1>
    <div>
        @using (Html.BeginForm("Twitter", "Home", FormMethod.Post))
        {
            <div @*class="form-control"*@>
                <label @*class="label-primary"*@> Enter Your Tweet: </label>
                @*@Html.TextBoxFor(m => m.Tweet)*@
                <input class="form-control search-box" id="Tweet" name="Tweet" type="text" value="" />
                <input id="tweet-submit" type="submit" value="Post" class="btn btn-outline-primary" />
            </div>
        }
    </div>
    <img src="https://images.unsplash.com/photo-1603145733316-7462e5ecd80d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dHdpdHRlciUyMGljb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start twitter-background-img" alt="...">

    <div id="all-tweets">

        @foreach (TweetSharp.TwitterStatus twitt in Model.AllTweets)
        {
            <div class="card">
                @Html.DisplayFor(modelItem => twitt.CreatedDate)
                <label>&emsp;</label>
                @Html.DisplayFor(modelItem => twitt.Text)
                <br />
                <img src="..\css\img\twitter.jpg" class="img-fluid rounded-start twitter-img" alt="...">
            </div>
        }
    </div>
</body>
@section Scripts
{
    <script src="~/js/twitter.js"></script>
}
@section Styles
{
    <link href="~/css/twitter.css" rel="stylesheet" />

}
