<h2>Top Sport News:</h2>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publish Date</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.RSSFeed != null)
        {
            foreach (var item in ViewBag.RSSFeed)
            {
                <tr>
                    <td><a href="@item.Link">@item.Title</td>
                    <td>@item.PubDate.Substring(0, item.PubDate.Length - 15)</td>
                </tr>
            }
        }
    </tbody>
</table> 